<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>Beer Rate - Discover and share your favorite beer.</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonsymous"></script>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/animation.css" type="text/css" rel="stylesheet" />
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="../../app/public/css/styles.css">
</head>
<body>

{{{body}}}


<div class="footer-copyright">
  <div class="container">
    <a class="white-text text-lighten-3" href="#!">RUTGERS BEER RATE APP</a>
  </div>
</div>
</footer>

<script src="/js/dash.js"></script>

<script src="https://cdn.auth0.com/js/lock/10.16/lock.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>


<script type="text/javascript" src="js/api.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>


</body>
</handlebars>
