<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/dashboard" class="brand-logo"><img src="/img/Logo.png" class="logo-img"></a>
      <ul class="right hide-on-med-and-down">
        
         <li><a href="signin">Login</a></li>
      
        <li><a href="signup">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="signin">Login</a></li>
      
        <li><a href="signup">Register</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center yellow-text text-darken-4">Discover and share your favorite beer.</h1>
          <div class="row center">
            <h5 class="header col s12 light">Looking for the best?</h5>
          </div>
          <div class="row center">
            <a href="/signin" id="download-button" class="btn-large waves-effect waves-light">Get Started</a>
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax"><img src="/img/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">star</i></h2>
              <h5 class="center">DRINK AND RATE A BEER</h5>

              <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros vel dolor eleifend dapibus nec at velit. Proin in ex tempor sem tincidunt convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
              <h5 class="center">LEVEL UP</h5>
              <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros vel dolor eleifend dapibus nec at velit. Proin in ex tempor sem tincidunt convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">location_on</i></h2>
              <h5 class="center">UNLOCK SPECIAL BEER</h5>
              <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros vel dolor eleifend dapibus nec at velit. Proin in ex tempor sem tincidunt convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <hr>
          <div class="center">
            <h3>HALL OF FAME</h3>
          </div>
          <hr>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="/img/beer1.jpg">
                <span class="card-title">BEER 1
                <div class="rating-box">
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_half</i>
                </div>
                </span>
           

                <a href="login.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="/img/beer2.jpg">
                <span class="card-title">BEER 2
                <div class="rating-box">
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_half</i>
                </div>
                </span>
                <a href="/login" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>

              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="/img/beer3.jpg">
                <span class="card-title">BEER 3
                 <div class="rating-box">
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_half</i>
                </div>
                </span>

                <a href="/login" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>


          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="/img/beer4.jpg">
                <span class="card-title">BEER 4
                 <div class="rating-box">
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_border</i>
                </div>
                </span>
                <a href="login.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="/img/beer5.jpg">
                <span class="card-title">BEER 5
                 <div class="rating-box">
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_border</i>
                  <i class="material-icons">star_border</i>
                </div>
                </span>
                <a href="login.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="/img/beer6.jpg">
                <span class="card-title">BEER 6
                 <div class="rating-box">
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_rate</i>
                  <i class="material-icons">star_border</i>
                  <i class="material-icons">star_border</i>
                  <i class="material-icons">star_border</i>
                </div>
                </span>
                <a href="login.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
