<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/dashboard" class="brand-logo"><img src="/img/Logo.png" class="logo-img"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="signin">Login</a></li>
        <li><a href="signup">Register</a></li>
      
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="signin">Login</a></li>
        <li><a href="signup">Register</a></li>
       
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<div class="container body-container row">
    <div class="lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
         
         <form action="/auth" method="get">
        <button class="loginBtn loginBtn--google"  onclick="signinGoogle()">
                Register with Google
            </button>
        </form>


        <h1>Register Now!</h1>
        <div class='row'>
            
        </div>
        <form method="post" action="/signup">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" name="firstname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" name="lastname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" name="username">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{{!-- 
    h1= title
  p Welcome to #{title}
  br
  button(onclick="signinGoogle()") Log In with Google
  br
  br
  label Username
  input(id='username')
  br
  label Password
  input(id='password', type='password')
  br
  button(onclick="signinDb()") Log In
 --}}

    {{!--
    <div class="container">
        <h2 class="page-header">Register</h2> {{#if errors}} {{#each errors}}
=======
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
          <h1>Register Now!</h1>
         <div class='row'>
                <button class="loginBtn loginBtn--google">
  Register with Google
</button> 
              </div>
                      

          <form method="post" action="/signup">
   <div class="form-group">
    
    <input id="firstname" type="text" class="form-control" placeholder="First Name" name="firstname">
  </div>
  <div class="form-group">
    
    <input id="lastname" type="text" class="form-control" placeholder="Last Name" name="lastname">
  </div>
  <div class="form-group">
   
    <input id="about" type="text" class="form-control" placeholder="Username" name="about">
  </div>
  
   <div class="form-group">
    
    <input id="email" type="email" class="form-control" placeholder="Email" name="email">
  </div>
  
  <div class="form-group">
   
    <input id="password" type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>


              </div>



{{!-- <div class="container">

<h2 class="page-header">Register</h2>
{{#if errors}}
      {{#each errors}}
>>>>>>> 9adffe63ade8cbf2abfa1e07f45af87d1bf7ec6d
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}} {{/if}}
        <form method="post" action="/signup">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name" name="firstname">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" name="lastname">
            </div>
            <div class="form-group">
                <label>About</label>
                <input type="text" class="form-control" placeholder="About You" name="about">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password2">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div> --}}
